{% extends 'base.html' %}

{% block page_header %}
<!-- Header section -->
<div class="container header-container">
    <div class="row">
        <div class="col text-center mt-3">
            <!-- page title -->
            <h2 class="logo-font">Order Data</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

<!-- Main content section -->
{% block content %}
<!-- Overlay: To Remove background image -->
<div class="overlay"></div>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <!-- Search form for orders -->
            <form method="get" action="{% url 'manage_orders' %}">

                <!-- Order Number input field with label -->
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="order_number">Order Number:</label>
                        <input type="text" id="order_number" name="order_number" value="{{ order_number|default_if_none:'' }}" class="form-control">
                    </div>
                    <!-- Username input field with label -->
                    <div class="form-group col-md-4">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" value="{{ username|default_if_none:'' }}" class="form-control">
                    </div>
                    <!-- Postcode input field with label -->
                    <div class="form-group col-md-4">
                        <label for="postcode">Postcode:</label>
                        <input type="text" id="postcode" name="postcode" value="{{ postcode|default_if_none:'' }}" class="form-control">
                    </div>
                </div>
                <!-- Start Date input field with label -->
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d'|default_if_none:'' }}" class="form-control">
                    </div>
                    <!-- End Date input field with label -->
                    <div class="form-group col-md-4">
                        <label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d'|default_if_none:'' }}" class="form-control">
                    </div>
                    <!-- Search button -->
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <!-- Display order stats -->
            <div class="order-data-section">
                <!-- Table to display order statistics -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Order Number</th>
                            <th>Username</th>
                            <th>Postcode</th>
                            <th>Date</th>
                        </tr>
                        <!-- Loop through orders and display order details -->
                        {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'order_detail' order.id %}">{{ order.order_number }}</a></td>
                            <td>{{ order.user_profile.user.username }}</td>
                            <td>{{ order.postcode }}</td>
                            <td>{{ order.date|date:"Y-m-d H:i" }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
