<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Layer Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=black_forest" class="dropdown-item">Black Forest</a>
                <a href="{% url 'products' %}?category=tiramisu" class="dropdown-item">Tiramisu</a>
                <a href="{% url 'products' %}?category=red_velvet" class="dropdown-item">Red Velvet</a>
                <a href="{% url 'products' %}?category=black_forest,tiramisu,red_velvet" class="dropdown-item">All Layers Cake</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sponge Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=angel,food" class="dropdown-item">Angel Food</a>
                <a href="{% url 'products' %}?category=chiffon" class="dropdown-item">Chiffon</a>
                <a href="{% url 'products' %}?category=victoria_sponge" class="dropdown-item">Victoria Sponge</a>
                <a href="{% url 'products' %}?category=vanilla,chiffon,victoria_sponge" class="dropdown-item">All Sponge</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cheesecakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=japanese_cotton" class="dropdown-item">Japanese Cotton Cheesecake</a>
                <a href="{% url 'products' %}?category=ricotta" class="dropdown-item">Ricotta Cheesecake</a>
                <a href="{% url 'products' %}?category=no_bake" class="dropdown-item">No bake Cheesecake</a>
                <a href="{% url 'products' %}?category=no_bake,ricotta,japanese_cotton" class="dropdown-item">All Cheesecakes</a>
            </div>
        </li>
    </ul>
</div>